# Ignore virtual environments
/IoTStudioENV
/.env

# Ignore Python cache files in any folder
__pycache__/
*.pyo
*.pyd

# Ignore environment-specific files
*.env
*.venv
*.envrc

# Ignore .pytest_cache
.pytest_cache/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
**.db
